body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 45px;
}
h1 span{
    color: orange;
}
h2{
    font-size: 35px;
}
h3{
    font-size: 22px;
}
.dev-hints{
    color: orange;
}
p{
    font-size: 18px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.banner-image{
    width: 70%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width:40%;
    margin-left: 5%;
    Margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
#full-stack-developer{
    border-left: 7px solid ;
    border-image: linear-gradient(tomato,orange);
    border-image-slice: 1;
}
#baby-web-developer{
    border-left: 7px solid ;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}


